<mat-toolbar>
  <img src="./assets/logo.png" height="50" />
  Regular Expressions Tools
</mat-toolbar>
<div class="flex-row-center">
  <mat-card class="flex-column-stretch string-parts-extractor-demo">
    <mat-card-header>
      <mat-card-title>
        String parts extractor demo
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="flex-column-stretch fxFlex">
      <mat-form-field>
        <mat-label>Setup an extractor</mat-label>
        <ngssm-string-parts-extractor [formControl]="extractorControl"></ngssm-string-parts-extractor>
      </mat-form-field>
      {{extractorControl.value | json}}
    </mat-card-content>
  </mat-card>

  <mat-card class="flex-column-stretch regex-demo">
    <mat-card-header>
      <mat-card-title>
        Regex control demo
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="flex-column-stretch fxFlex">
      <ngssm-regex [formControl]="regexControl" [required]="(regexRequired$ | async) ?? false">
        Enter a valid regular expression
      </ngssm-regex>

      <div>
        REGEX: {{regexControl.value}}
      </div>
      <div>
        STATUS: {{regexControl.status}}
      </div>

      <mat-checkbox (change)="setRegexControlRequired($event)">Required ?</mat-checkbox>
      <mat-checkbox (change)="setRegexControlDisabled($event)">Disabled ?</mat-checkbox>
      <button mat-stroked-button [disabled]="regexControl.invalid" color="primary">
        Submit
      </button>

    </mat-card-content>
  </mat-card>
</div>