name: Build and Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  call_shared_build:
    uses: ./.github/workflows/shared_build.yml
    with:
      dotnet_package_version: "10.0.0"
